.sidebar {
    animation: slideInFromLeft 1s ease-in;
  	margin-top: -15px;
	position: sticky;
	top: 100px;
	flex: 0.2;
	border-radius: 10px;
	text-align: center;
	height: fit-content;
	padding: 10px;
}

.sidebar_bottom {
	text-align: left;
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 10px;
	margin-top: 10px;
	background-color: white;
}

.sidebar_recentItem {
	display: flex;
	font-size: 13px;
	color: gray;
	cursor: pointer;
	margin-bottom: 5px;
	padding: 5px;
	font-weight: bolder;
  justify-content: space-between;
}

.sidebar_recentItem:hover {
	background-color: whitesmoke;
	border-radius: 10px;
	cursor: pointer;
	color: black;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@media (max-width: 1000px) {
    .sidebar{
		position: relative !important;
		top: 0px;

	}

}


.rightsidebar{
    	animation: slideInFromRight 1s ease-in;
        margin-left: 20px;
        position: sticky;
	top: 100px;

}
@keyframes slideInFromRight {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
a.block-s1 {
    width: 150px;
    display: block;
    transition: .5s;
}
p.how-to-games {
    font-size: 13px;
    color: black;
    font-weight: 800;
    line-height: 0px;
    /* float: left; */
    margin-top: 25px;
}
p.desctops {
    color: black important;
    font-size: 11px;
    display: -webkit-inline-box;
    transition: .5s;
    padding: 0;
    text-align: -webkit-auto;
}
a.block-s1:hover {
    /* opacity: .8; */
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

@media (max-width: 1000px) {
	.rightsidebar{
        margin: auto;
    }
    .rightsidebar1{
        text-align:center;
    }
}