.sidebar {
    animation: slideInFromLeft 1s ease-in;
  	margin-top: -15px;
	position: sticky;
	top: 100px;
	flex: 0.2;
	border-radius: 10px;
	text-align: center;
	height: fit-content;
	padding: 10px;
}

.sidebar_bottom {
	text-align: left;
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 10px;
	margin-top: 10px;
	background-color: white;
}

.sidebar_recentItem {
	display: flex;
	font-size: 13px;
	color: gray;
	cursor: pointer;
	margin-bottom: 5px;
	padding: 5px;
	font-weight: bolder;
  justify-content: space-between;
}

.sidebar_recentItem:hover {
	background-color: whitesmoke;
	border-radius: 10px;
	cursor: pointer;
	color: black;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@media (max-width: 1000px) {
    .sidebar{
		position: relative !important;
		top: 0px;

	}

}

